In [1]:
import sqlite3
import pandas as pd

In [2]:
# Ruta al archivo .sqlite
ruta_db = 'travel.sqlite'

In [3]:
# Conectar a la base de datos
conexion = sqlite3.connect(ruta_db)

In [4]:
# Obtener los nombres de las tablas en la base de datos
cursor = conexion.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tablas = cursor.fetchall()

In [5]:
# Convertir la lista de tablas en un formato legible
nombres_tablas = [tabla[0] for tabla in tablas]

In [7]:
print(nombres_tablas)

['aircrafts_data', 'airports_data', 'boarding_passes', 'bookings', 'flights', 'seats', 'ticket_flights', 'tickets']

In [21]:
aircrafts_data = pd.read_sql_query(f"SELECT * FROM aircrafts_data", conexion)
airports_data = pd.read_sql_query(f"SELECT * FROM airports_data", conexion)
boarding_passes = pd.read_sql_query(f"SELECT * FROM boarding_passes", conexion)
bookings = pd.read_sql_query(f"SELECT * FROM bookings", conexion)
flights = pd.read_sql_query(f"SELECT * FROM flights", conexion)
seats = pd.read_sql_query(f"SELECT * FROM seats", conexion)
ticket_flights = pd.read_sql_query(f"SELECT * FROM ticket_flights", conexion)
tickets = pd.read_sql_query(f"SELECT * FROM tickets", conexion)

In [22]:
aircrafts_data.to_csv("aircrafts_data.csv", index=False)
airports_data.to_csv("airports_data.csv", index=False)
boarding_passes.to_csv("boarding_passes.csv", index=False)
bookings.to_csv("bookings.csv", index=False)
flights.to_csv("flights.csv", index=False)
seats.to_csv("seats.csv", index=False)
ticket_flights.to_csv("ticket_flights.csv", index=False)
tickets.to_csv("tickets.csv", index=False)